.App {
  display: flex;
  flex-direction: column;
  background-color: #b95a70;
  margin-right: 18%;
  margin-left: 18%;
  height: 100vh;
  align-items: center;
}

.website-middle {
  height: 100%;
  width: 70%;
}

