button {
    border: none;
    background-color: transparent;
}

.movie-element-extended {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 0 0 6px black;
    font-size: 16px;
}

.movie-element-extended img {
    height: 120px;
    width: 100px;
    padding: 8px;
}

.movie-element-extended-data {
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-element-extended-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}


.movie-element-extended-ratings {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: auto;
    padding: 16px;
    gap: 32px;
}

.movie-rating {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
}

.movie-element-extended-rating-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 3px solid brown;
    border-radius: 4px;
    font-size: 24px;
}

.movie-element-extended-title-text {
    font-weight: bold;
    font-size: large;
}